
.our-features{
    margin-top: 100px;
    text-align: center;
}
    .our-features{
        margin-top: 100px;
        text-align: center;
    }
    .our-features h1 {
        color: rgb(255, 0, 0);
        font-size: 50px;

    }
    .our-features p {
    margin-bottom: 50px;

    }
    .our-features i {
        background-color: rgb(13, 231, 111);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        font-size: 50px;
        color: white;
        line-height: 100px;
    }
    .our-features .one-feature {
        border: 1px solid rgb(160, 63, 63);
        padding: 20px ;
        border-radius: 10px;
        background-color: #eee;
        cursor: pointer;
        margin:5px;
        width: 30%;
    }
    .our-features .one-feature:hover{
        border: 1px solid;
    }
    .our-team {
        margin-top: 100px;
        text-align: center;
        background-color: #eee;
        padding-bottom: 50px;
        cursor: pointer;
    }
    .our-team h1 {
        color: cadetblue;
        font-size: 50px;

    }
    .our-team p {
        margin-bottom: 60px;
        
    }
    .name {
        margin-top: 20px;
    }
    .position {
        font-size: 22px;
        color: aquamarine;
    }
    .statistics {
     
       background-image: url(../images/slider/2.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       margin-bottom: 150px;
    }
    .overlay {
        background-color: black;
        height: 100%;
        opacity: 0.7;
    }
    .number {
        text-align: center;
       
       
    }
    .number h3 {
        color: white;
        font-size: 70px;
    }
     .fa-brands {
        font-size: 30px;

     }
     .courses_head {
        text-align: center;
        background-image: url(../images/slider/fingers-note-report-journalist-filling.jpg);
        background-size: cover;
        padding: 100px 0 100px 0;
        background-position: center 80%;
     }
     .courses_head h3 {
        color: rgb(226, 0, 0);
        font-size: 60px;
     }
     .courses_details {
        height: 2000px;
        margin-top: 50px;
     } 
     .last {
        text-align: center;
        background-color: red;
        color: white;
     }